:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  font-family: "Silkscreen", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  text-align: center;
}

#status {
  margin: 0.5rem;
}

a {
  color: white;
}

button {
  cursor: pointer;
}

input,
button {
  height: 2rem;
  font-size: 1rem;
  padding-inline: 0.5rem;
}

@media (min-width: 560px) {
  input,
  button {
    height: 3rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 666px) {
  input,
  button {
    padding-inline: 1rem;
  }
}
